<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bodeum.mapper.EduMapper">


  <select id="getList" resultType="com.bodeum.domain.EduVO">
  
    select * from edu where itemnum > 0 order by itemnum desc
   
  </select>

	<select id="getItemList" resultType="com.bodeum.domain.EduVO">
  
    select * from edu where itemnum = ${itemnum}
   
  </select>
  
  <select id="getGroupList" resultType="com.bodeum.domain.EdugroupVO">
  
   select * from edugroup where itemnum > 0 order by itemnum desc
  
  </select>

	<select id="getGroupItemList" resultType="com.bodeum.domain.EdugroupVO">
  
    select * from edugroup where itemnum = ${itemnum}
   
  </select>

	<select id="getSingleList" resultType="com.bodeum.domain.EdusingleVO">
  
    select * from edusingle where itemnum > 0 order by itemnum desc
   
  </select>
  
  <select id="getSingleItemList" resultType="com.bodeum.domain.EdusingleVO">
  
    select * from edusingle where itemnum = ${itemnum}
   
  </select>



<!-- 게시판 -->

<select id="getEduboardList" resultType="com.bodeum.domain.EduBoardVO">

	select
		boardnum,
		userid,
		title,
		content,
		bdate,
		cnt
	from
		eduboard
		order by
		boardnum,
		bdate desc	
	
</select>


<insert id="Educreate">
 insert into eduboard (
 	boardnum, 
 	userid, 
 	title, 
 	content, 
 	bdate
 	)
     values(seq_eduboard.nextval, 
     #{userid}, #{title}, #{content}, #{bdate}
     )

</insert>

<select id="read" resultType="com.bodeum.domain.EduBoardVO">
	select * from eduboard
	where boardnum=#{boardnum}

</select>

<update id="increaseViewcnt">
	update eduboard set cnt= cnt+1
	where boardnum = #{boardnum}
</update>

<update id="update">
	update eduboard set
	title = #{title},
	content = #{content},
	userid = #{userid},
	where boardnum = #{boardnum}

</update>

<delete id="delete">
delete from eduboard
where boardnum = #{boardnum}

</delete>







</mapper>